-----BEGIN CERTIFICATE-----
MIIFOjCCAyKgAwIBAgIJAORFHi0LMPNnMA0GCSqGSIb3DQEBCwUAMCoxCzAJBgNV
BAYTAkNBMQswCQYDVQQIDAJCQzEOMAwGA1UECgwFSERDYmMwHhcNMTgwMTIzMTc1
MDU3WhcNNDUwNjA5MTc1MDU3WjAqMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMx
DjAMBgNVBAoMBUhEQ2JjMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA
3X8rKM9NezFBkr0xhLeYGXJq1t6TiFKJj8P7ybdtzL7dxrfujK3Fe7jNbUpyqT0v
KoGsdt5gri8VyM9F8locLez+gdhCcE6960IjN2cCMKX+qfeoWJV5+D/W4UcSqfeo
7O+DW9pv5sbnD/IwZPjywQU3IhVFLc70ZI0LFBbKAa0uBJBjvp+36HzfCciJ1rzu
eyzV4u4q2MgsztTGL/QRguuHshwGgVtQuh29wGpYy90wjocUZuzZac7hgcpiNZ9j
IoxmyobyWhunVSURk18B/DlJs911qYF25JIRzYjLsVL6L8zvwcCDG6mIkeV5qQ2C
Gi4gY8wCagHe+R9SpuXBkc/c2HJIRGiGXg+Lc1jwbvJw61bwvFOV38sYOL6xemXH
wxRiMQgeG4pEfxFVuwXg/+1PkQLnmuN+cVcsuMza91QDMXq7shA1r19JQK6sS/iW
nJunNwMo9CE8DdC5DzJeyA+YXeno1y/Om6KFJWhpllEpu+Ehe8YnWvN5wsMC2Cj/
c/Ue91Kzgb6g5DMocinXwa51/JkwvfVwv91ADbcjDTu7LYWXf6PAADO6xi8VcacU
zqLWoNW7zHuHM+PDLEpRJ3+hs2Oe1vmTv1HSDp4VW4ozLBCtW6ibksptWdXxacmP
QQltkKTFQdwqo6Xwd93/NWhlA3VDyeESWWbYGUo4QrMCAwEAAaNjMGEwHQYDVR0O
BBYEFNErk5U5WK8B3fubEVQg61AOwvIxMB8GA1UdIwQYMBaAFNErk5U5WK8B3fub
EVQg61AOwvIxMA8GA1UdEwEB/wQFMAMBAf8wDgYDVR0PAQH/BAQDAgGGMA0GCSqG
SIb3DQEBCwUAA4ICAQCrw4Em0yK45bQGuu6owyWAjnubcmkgdpDwleIUzlRvVqoD
7SrYXvgeoCLauizuEJSiFxfJSTvXUVH2LNfa3Zvtb6UgIlXqVUlHAUg15Ct39dnI
bfMkAaVvu4VJJd47QYmGLLtQN7v34xSJLb4Qt4nH1W45ws0hNDLKdiMHFBQg14xM
TFDoPIHIuKulp25MmwKE3dF2US9raO3h1HFWfRUaqeoOOfjfwEIDrhcfV4imFk2M
H7ORpCNSv6ZEjuVyfZJFMMC6KBNqrrafGzqMfkHCyJnW8i3oomAgwFVO0uLLKe5j
QW3Pd1LtQ21nbDyZ+u9X02kj4DqfJyZdhx/Ti85dS8A8pCmFS1vCdMHqaE7l70fT
1U2t25OU60F5z1dISyyY9PdbnPiTQJYXXBPuKTXuROWoR3127c9gWqJS75W6T0o/
PcaAHMjo2OGrmoWreyJcqYIpHbg5xxWGnPCdwz8Tlc+SqzoM+cjXUdBvkyeXNtMz
lk5t0flVzdlAZGWWci8nDK0l0vK8H8FE8YP5tIz1FA1vfLCUNl0VcxRR3n9YTJA7
3ve7gioacwy88dNyCqwybqWnFHl7qOEVSfkLYSMRe5bfsLWCsnHXLJZ9+eAmSSOf
B7B+32xFEP5QjU9/9tnAoZSDlaKthhxEuEX2gKpOLxbKl4hx+zudpeEimqYjMQ==
-----END CERTIFICATE-----
