# eno1:0 - static (with no gateway!)
auto eno1:0
iface eno1:0 inet static
address {{ static_address }}
netmask {{ static_netmask }}
network {{ static_network }}

# Googles nameserver
#dns-nameservers {{ nameserver }}
